.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #d25e10;
  position: sticky;
  top: 0;
  z-index: 10;
}

.title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  font-family: 'FucxedCaps', sans-serif;
  text-transform: uppercase;
}

.links {
  display: flex;
  gap: 1.5rem;
}

.links a {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'FucxedCaps', sans-serif;
  text-transform: uppercase;
  transition: color 0.2s;
}

.links a:hover {
  color: #fff;
}

.active {
  color: #fff !important;
  text-decoration: underline !important;
}
